@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple demo page constructed by <a href="https://www.linkedin.com/in/tim-dryer-61b27613">Tim Dryer</a>.</p>
</div>
